In [2]:
import pandas as pd 
import numpy as np

In [5]:
df_btc = pd.read_csv('../data/btc.csv')
df_dxy = pd.read_csv('../data/dxy.csv')
df_dsg = pd.read_csv('../data/dsg.csv')

In [6]:
df_btc.head()

         date       bitcoin_price
0         NaN             BTC-USD
1  2015-01-01   314.2489929199219
2  2015-01-02   315.0320129394531
3  2015-01-03   281.0820007324219
4  2015-01-04  264.19500732421875

In [7]:
df_dsg.head()

         date  DGS2
0  2015-01-01   NaN
1  2015-01-02  0.66
2  2015-01-05  0.68
3  2015-01-06  0.65
4  2015-01-07  0.62

In [9]:
df_dxy.head()

         date                dxy
0         NaN           DX-Y.NYB
1  2015-01-02  91.08000183105469
2  2015-01-05  91.37999725341797
3  2015-01-06               91.5
4  2015-01-07  91.88999938964844

In [10]:
df_btc = df_btc.drop(0).reset_index(drop=True)
df_dsg = df_dsg.drop(0).reset_index(drop=True)
df_dxy = df_dxy.drop(0).reset_index(drop=True)

In [11]:
df_btc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3722 entries, 0 to 3721
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           3722 non-null   object
 1   bitcoin_price  3722 non-null   object
dtypes: object(2)
memory usage: 58.3+ KB

In [12]:
df_dsg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2656 entries, 0 to 2655
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    2656 non-null   object
 1   DGS2    2546 non-null   float64
dtypes: float64(1), object(1)
memory usage: 41.6+ KB

In [24]:
df_dsg[df_dsg.isna() == True]

            DGS2
date
2015-01-02   NaN
2015-01-05   NaN
2015-01-06   NaN
2015-01-07   NaN
2015-01-08   NaN
...          ...
2025-03-03   NaN
2025-03-04   NaN
2025-03-05   NaN
2025-03-06   NaN
2025-03-07   NaN

[2656 rows x 1 columns]

In [13]:
df_dxy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2561 entries, 0 to 2560
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    2561 non-null   object
 1   dxy     2561 non-null   object
dtypes: object(2)
memory usage: 40.1+ KB

In [14]:
df_btc['date'] = pd.to_datetime(df_btc['date'], format= '%Y-%m-%d')
df_btc.set_index('date', inplace=True)

df_dsg['date'] = pd.to_datetime(df_dsg['date'], format= '%Y-%m-%d')
df_dsg.set_index('date', inplace=True)

df_dxy['date'] = pd.to_datetime(df_dxy['date'], format= '%Y-%m-%d')
df_dxy.set_index('date', inplace=True)

In [16]:
# Merge df_dxy into df_btc using a left join
merged_df = df_btc.merge(df_dxy, on='date', how='left')

# Merge df_dsg into the merged dataframe using a left join
merged_df = merged_df.merge(df_dsg, on='date', how='left')

print(merged_df.head())

                 bitcoin_price                dxy  DGS2
date
2015-01-01   314.2489929199219                NaN   NaN
2015-01-02   315.0320129394531  91.08000183105469  0.66
2015-01-03   281.0820007324219                NaN   NaN
2015-01-04  264.19500732421875                NaN   NaN
2015-01-05   274.4739990234375  91.37999725341797  0.68

In [17]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3722 entries, 2015-01-01 to 2025-03-10
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   bitcoin_price  3722 non-null   object
 1   dxy            2561 non-null   object
 2   DGS2           2546 non-null   float64
dtypes: float64(1), object(2)
memory usage: 116.3+ KB

In [27]:
merged_df[(merged_df['DGS2'].isna()) & (merged_df['dxy'].notna())].head(50)

                 bitcoin_price                 dxy  DGS2
date
2015-10-12  245.30799865722656   94.83999633789062   NaN
2015-11-11   311.0840148925781   99.01000213623047   NaN
2016-01-18   387.1679992675781   99.12000274658203   NaN
2017-10-09    4772.02001953125   93.73999786376953   NaN
2018-10-08    6652.22998046875    95.7699966430664   NaN
2018-11-12    6371.27001953125   97.54000091552734   NaN
2019-10-14     8374.6865234375   98.44999694824219   NaN
2019-11-11     8757.7880859375   98.19999694824219   NaN
2020-10-12      11555.36328125   93.06999969482422   NaN
2020-11-11      15701.33984375   93.04000091552734   NaN
2021-10-11       57484.7890625   94.31999969482422   NaN
2021-11-11       64949.9609375   95.18000030517578   NaN
2022-10-10        19141.484375  113.13999938964844   NaN
2022-11-11      17034.29296875  106.29000091552734   NaN
2023-10-09     27583.677734375  106.08000183105469   NaN
2024-10-14           66046.125  103.30000305175781   NaN
2024-11-11        88701.484375  105.54000091552734   NaN
2025-03-10             78532.0  103.91000366210938   NaN

In [28]:
merged_df['bitcoin_price'] = merged_df['bitcoin_price'].astype(float).round(2)
merged_df['dxy'] = merged_df['dxy'].astype(float).round(2)
merged_df['DGS2'] = merged_df['DGS2'].round(2)

print(merged_df.head())

            bitcoin_price    dxy  DGS2
date
2015-01-01         314.25    NaN   NaN
2015-01-02         315.03  91.08  0.66
2015-01-03         281.08    NaN   NaN
2015-01-04         264.20    NaN   NaN
2015-01-05         274.47  91.38  0.68